html, body{height: 100%; margin: 0;}
#locationField{margin-top: 25px}
#introDiv{margin-top: 50px}
.wrapper{min-height: 100%; margin-bottom: -100px}
#footer, .push{height: 100px;}
#footcontainer {background-color: #e3e3e3; width: 100%; margin-top: 50px; padding-bottom: 20px}
.footerImg {margin: 10px;}
#footer > .container > p {padding: 10px;}
#searchBar{width: 70%}
a{color: #000; font-size: 12px;}
a:hover{text-decoration: none; color: #000}
.slick-prev:before {color: #000; font-size: 30px;}
.slick-next:before {color: #000; font-size: 30px;}
.infoRows{margin-top: 30px}
